* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
}

body {
  background-image: url(../img/main.png);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  height: 56px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: space-between;
  align-items: center
}

.journey {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin-left: 81px;
  transition: 0.3s ease-in-out;
}

.journey:hover {
  color: #3cb878;
}

.header-login {
  display: inline-block;
  font-size: 14px;
  margin-right: 81px;
}

.green-text {
  color: #3cb878;
}

.sprite {
  background: url(../img/sprite.png)
}

.calc {
  width: 20px;
  height: 20px;
  background-position: -48px 30px;
  display: inline-block;
  margin-right: 25px;
}

.calc:hover {
  background-position: -10px 30px;
}

.notate {
  width: 28px;
  height: 22px;
  background-position: -215px 32px;
  display: inline-block;
  margin-right: 25px;
}

.notate:hover {
  background-position: -168px 32px;
}

.kompas {
  width: 22px;
  height: 20px;
  background-position: -127px 30px;
  display: inline-block;
  margin-right: 25px;
}

.kompas:hover {
  background-position: -88px 30px;
}

.vertical-lane {
  width: 10px;
  height: 20px;
  display: inline-block;
  border-right: #494e4c solid 2px;
  margin-right: 25px;
}

.area-wo-header {
  display: flex;
  height: calc( 100vh - 56px);
  align-items: center;
  justify-content: center;
}

.forma {
  width: 444px;
  height: 584px;
  border-radius: 8px;
  background: #fff;
}

.forma-padding {
  padding: 15px 60px;
}

.green-square {
  width: 18px;
  height: 18px;
  background-color: #3cb878;
  position: relative;
  top: 18px;
  left: -60px;
}

.black-text {
  color: #000;
}

.big-text {
  font-size: 20px;
}

p.big-text {
  display: inline-block;
}

.forma-top-login {
  float: right;
}

.forma-top-login:after {
  content: "";
  display: block;
  clear: both;
}

.fb-goog-flex {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.login-facebook {
  width: 155px;
  height: 46px;
  background-color: #305db8;
  display: inline-block;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
}

.login-facebook:hover {
  background-color: #4b7ee4;
}

.logo-facebook {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  padding-right: 15px;
  padding-left: 10px;
  margin: 8px;
  border-right: solid rgba(73, 71, 71, 0.5) 2px;
}

.text-facebook {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  vertical-align: middle;
}

.login-google {
  width: 155px;
  height: 46px;
  background-color: #df4a32;
  display: inline-block;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
}

.login-google:hover {
  background-color: #fa6953;
}

.logo-google {
  display: inline-block;
  content: url(../img/google.png);
  padding: 7px 10px;
  margin: 7px;
  border-right: solid rgba(73, 71, 71, 0.5) 2px;
}

.text-google {
  font-size: 16px;
  display: inline-block;
  position: relative;
  bottom: 15px;
}

.lane-or {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.text-or {
  text-align: center;
  color: rgba(132, 132, 132, 0.7);
  font-size: 14px;
  display: inline-block;
}

.left-lane {
  width: 135px;
  border-bottom: solid rgba(73, 71, 71, 0.5) 2px;
  display: inline-block;
}

.right-lane {
  width: 135px;
  border-bottom: solid rgba(73, 71, 71, 0.5) 2px;
  display: inline-block;
}

div input {
  width: 322px;
  height: 46px;
}

.login-input {
  margin-top: 15px;
}

.login-input input {
  margin-bottom: 8px;
  color: #000;
  border-radius: 5px;
}

.input {
  width: 322px;
  height: 46px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.create-account {
  display: inline-block;
  background-color: #3cb878;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.create-account:hover {
  background-color: #5bd395;
}

.create-account p {
  padding-top: 11px;
}

.input-agree {
  color: #000;
  font-size: 14px;
  text-align: left;
  padding-top: 20px;
  height: 30px;
}

.input-agree p {
  display: inline-block;
  color: #000;
}

::placeholder {
  color: rgb(180, 176, 176);
}

::-o-input-placeholder {
  color: rgb(180, 176, 176);
}

::-moz-input-placeholder {
  color: rgb(180, 176, 176);
}

input {
  border: rgb(190, 187, 187) solid 1px;
  outline: none;
  text-indent: 15px;
}

.checkbox {
  display: none;
}

label {
  display: inline-block;
}

.new-checkbox {
  height: 12px;
  width: 12px;
  border: rgb(175, 180, 173) solid 1px;
  display: inline-block;
  position: relative;
  background-color: rgb(227, 231, 216);
  border-radius: 2px;
  margin-right: 10px;
  top: 3px;
}

[type=checkbox]:checked+span:before {
  content: '\2714';
  position: absolute;
  top: -13px;
  left: -2px;
  font-size: 24px;
  color: rgb(54, 168, 54);
}

input:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(170, 166, 166);
}